{
  "gui": {
    "background": {
      "type" : "background",
      "fileHeader": "/interface/muibased/header.png",
      "fileBody" : "/interface/muibased/body.png",
      "fileFooter": "/interface/muibased/footer.png",
      "zlevel" : 0
    },
    "title": {
      "type": "title",
      "title": "^shadow;ItemUtils UI",
      "subtitle": "^shadow;Import/export/dupe/encrypt items."
    },
    "settingsBtn": {
      "type": "button",
      "base": "/interface/muibased/cog.png",
      "hover": "/interface/muibased/coghover.png",
      "pressedOffset": [0, -1],
      "zlevel": 2,
      "position": [305, 225],
      "callback" : "IUUI.toggleSettings"
    },
    "closeBtn": {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "callback" : "pane.dismiss",
      "size" : [10, 12],
      "position" : [321, 226],
      "pressedOffset" : [0, -1]
    },
    "importBtn": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "caption": "Import Item",
      "fontSize": 7,
      "wrapWidth": 80,
      "hAnchor": "mid",
      "zLevel": 25,
      "pressedOffset": [0,-1],
      "position": [282, 22],
      "callback": "IUUI.importItem"
    },
    "exportBtn": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "caption": "Export Held",
      "fontSize": 7,
      "wrapWidth": 80,
      "hAnchor": "mid",
      "zLevel": 25,
      "pressedOffset": [0,-1],
      "position": [228, 22],
      "callback": "IUUI.exportItem"
    },
    "dupeBtn": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "caption": "Dupe Held",
      "fontSize": 7,
      "wrapWidth": 80,
      "hAnchor": "mid",
      "zLevel": 25,
      "pressedOffset": [0,-1],
      "position": [174, 22],
      "callback": "IUUI.dupeItem"
    },
    "encryptBtn": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "caption": "Encrypt Held",
      "fontSize": 7,
      "wrapWidth": 80,
      "hAnchor": "mid",
      "zLevel": 25,
      "pressedOffset": [0,-1],
      "position": [174, 54],
      "callback": "IUUI.encryptItem"
    },
    "keyManagerBtn": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "caption": "Key Manager",
      "fontSize": 7,
      "wrapWidth": 80,
      "hAnchor": "mid",
      "zLevel": 25,
      "pressedOffset": [0,-1],
      "position": [228, 54],
      "callback": "IUUI.openKeyManager"
    },
    "pathEntryBg": {
      "type": "image",
      "position": [172,38],
      "file": "/assetMissing.png?replace;FFFFFF00=000000FF?scalenearest;2.53125;0.15625?border=1;E6E6E6FF;EFF",
      "zLevel": 15
    },
    "pathEntryBox": {
      "type": "textbox",
      "position": [174,40],
      "textAlign": "left",
      "hint": "item.json",
      "callback": "IUUI.updateItemFile",
      "zLevel": 16,
      "maxWidth": 162
    },
    "keyEntryBg": {
      "type": "image",
      "position": [172,70],
      "file": "/assetMissing.png?replace;FFFFFF00=000000FF?scalenearest;2.53125;0.15625?border=1;E6E6E6FF;EFF",
      "zLevel": 15
    },
    "keyEntryBox": {
      "type": "textbox",
      "position": [174,72],
      "textAlign": "left",
      "hint": "Encryption Key",
      "zLevel": 16,
      "maxWidth": 162,
      "callback": "null",
      "regex": ".{0,32}"
    },
    "playerInfo": {
      "zLevel": 1,
      "type": "canvas",
      "rect": [1, 22, 336, 219],
      "captureMouseEvents": false,
      "captureKeyboardEvents": false
    },
    "itemDirLabel": {
      "type": "label",
      "position": [167, 175],
      "hAnchor": "mid",
      "vAnchor": "bottom",
      "wrapWidth": 200,
      "visible": false,
      "value": "This value should be an absolute folder path pointing to where your item JSON files are located. It should end in a /."
    },
    "itemDirBox": {
      "type": "textbox",
      "position": [87, 155],
      "textAlign": "left",
      "hint": "C:/Wherever/Folder/",
      "maxWidth": 160,
      "callback": "IUUI.updateItemDir",
      "visible": false
    },
    "subdirLabel": {
      "type": "label",
      "position": [167, 175],
      "hAnchor": "mid",
      "vAnchor": "bottom",
      "wrapWidth": 200,
      "visible": false,
      "value": "This value should be a folder within your ItemUtils mod folder. It should both start and end with a /."
    },
    "subdirBox": {
      "type": "textbox",
      "position": [87, 155],
      "zLevel": 16,
      "textAlign": "left",
      "hint": "/items/",
      "maxWidth": 160,
      "callback": "IUUI.updateSubdir",
      "visible": false
    },
    "itemDirBg": {
      "type": "image",
      "position": [85, 153],
      "file": "/assetMissing.png?replace;FFFFFF00=000000FF?scalenearest;2.5;0.15625?border=1;E6E6E6FF;EFF",
      "zLevel": 15,
      "visible": false
    },
    "canvasUpdateLabel": {
      "type": "label",
      "position": [87, 135],
      "hAnchor": "left",
      "visible": false,
      "value": "Canvas update rate (per sec):"
    },
    "canvasUpdateBox": {
      "type": "textbox",
      "position": [212, 135],
      "zLevel": 16,
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint": "60",
      "callback": "IUUI.updateCanvasRate",
      "visible": false
    },
    "canvasUpdateBg": {
      "type": "image",
      "position": [210, 133],
      "file": "/assetMissing.png?replace;FFFFFF00=000000FF?scalenearest;0.25;0.15625?border=1;E6E6E6FF;EFF",
      "zLevel": 15,
      "visible": false
    }
  },
  "scriptWidgetCallbacks": [
    "pane.dismiss",
    "IUUI.importItem",
    "IUUI.exportItem",
    "IUUI.dupeItem",
    "IUUI.encryptItem",
    "IUUI.updateItemFile",
    "IUUI.updateItemDir",
    "IUUI.updateSubdir",
    "IUUI.updateCanvasRate",
    "IUUI.toggleSettings",
    "IUUI.openKeyManager"
  ],
  "scripts": ["/scripts/itemUtilsUI.lua"],
  "scriptDelta": 1,
  "mainWidgets": [
    "importBtn",
    "exportBtn",
    "dupeBtn",
    "encryptBtn",
    "pathEntryBg",
    "pathEntryBox",
    "keyEntryBg",
    "keyEntryBox",
    "playerInfo",
    "keyManagerBtn"
  ],
  "settingsWidgets": [
    "itemDirLabel",
    "itemDirBox",
    "subdirLabel",
    "subdirBox",
    "itemDirBg",
    "canvasUpdateBg",
    "canvasUpdateBox",
    "canvasUpdateLabel"
  ]
}