{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/muibased/header.png",
      "fileBody": "/interface/scripted/keyManager/bgb.png",
      "fileFooter": "/interface/muibased/footer.png",
      "zLevel": 0
    },
    "windowtitle": {
      "type": "title",
      "title": "Key Manager",
      "subtitle": "Manages encryption keys."
    },
    "closeBtn": {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "callback" : "pane.dismiss",
      "size" : [10, 12],
      "position" : [321, 226],
      "pressedOffset" : [0, -1]
    },
    "backBtn": {
      "type": "button",
      "base": "/interface/muibased/back.png",
      "hover": "/interface/muibased/backhover.png",
      "callback": "keyManager.back",
      "position": [306, 226],
      "zLevel": 2,
      "pressedOffset" : [0, -1]
    },
    "keyScroll": {
      "type": "scrollArea",
      "zLevel": 30,
      "rect": [3,42,334,207],
      "children": {
        "keyList": {
          "type": "list",
          "callback": "keyManager.keySelected",
          "enterKey": "keyManager.editKey",
          "schema": {
            "selectedBG": "/assetMissing.png?scalenearest=4.96875;0.28125?replace;ffffff00=383838?border=1;555555;555555",
            "unselectedBG": "/assetMissing.png?scalenearest=4.96875;0.28125?replace;ffffff00=ffffffff?outline=1;555555;555555",
            "spacing": [0,0.5],
            "memberSize": [322,21],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/assetMissing.png?scalenearest=4.96875;0.296875?replace;ffffff00=ffffffff?outline=1;555555;555555",
                "position": [2,1],
                "zLevel": -1
              },
              "keyName": {
                "type": "label",
                "position": [5,20],
                "hAnchor": "left",
                "vAnchor": "top",
                "wrapWidth": 150,
                "zLevel": 2,
                "value": "Replace Me"
              },
              "keyDiv": {
                "type": "image",
                "file": "/assetMissing.png?scalenearest=0.015625;0.328125?replace;ffffff00=555555;?border=1;555555;555555",
                "position": [160, 1],
                "zLevel": 0
              },
              "keyKey": {
                "type": "label",
                "position": [168,20],
                "hAnchor": "left",
                "vAnchor": "top",
                "wrapWidth": 150,
                "zLevel": 2,
                "value": "Replace Me"
              }
            }
          }
        }
      }
    },
    "addKeyBtn": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "caption": "Add Key",
      "fontSize": 7,
      "wrapWidth": 80,
      "hAnchor": "mid",
      "zLevel": 16,
      "pressedOffset": [0,-1],
      "position": [3, 22],
      "callback": "keyManager.addKey"
    },
    "editKeyBtn": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "caption": "Edit Key",
      "fontSize": 7,
      "wrapWidth": 80,
      "hAnchor": "mid",
      "zLevel": 16,
      "pressedOffset": [0,-1],
      "position": [60, 22],
      "callback": "keyManager.editKey"
    },
    "removeKeyBtn": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "caption": "Remove Key",
      "fontSize": 7,
      "wrapWidth": 80,
      "hAnchor": "mid",
      "zLevel": 16,
      "pressedOffset": [0,-1],
      "position": [117, 22],
      "callback": "keyManager.removeKey"
    },
    "keysPathBox": {
      "type" : "textbox",
      "position" : [176, 25],
      "hint" : "Path to Keys File",
      "maxWidth" : 134,
      "callback" : "keyManager.updateKeysPath"
    },
    "keyPathError": {
      "type": "image",
      "position": [320, 22],
      "file": "/interface/cockpit/hazards/caution.png",
      "visible": false
    },
    "editKeyFrame": {
      "type" : "layout",
      "visible" : false,
      "layoutType" : "basic",
      "position" : [100, 100],
      "size" : [168, 113],
      "zlevel" : 10,
      "children" : {
        "background" : {
          "type" : "imageStretch",
          "size" : [168, 113],
          "direction" : "vertical",
          "stretchSet" : {
            "type" : "repeat",
            "end" : "/interface/bookmarks/edit/header.png",
            "inner" : "/interface/scripted/keyManager/editkeybody.png",
            "begin" : "/interface/bookmarks/edit/footer.png"
          }
        },
        "ok" : {
          "type" : "button",
          "base" : "/interface/bookmarks/edit/buttonup.png",
          "hover" : "/interface/bookmarks/edit/buttonover.png",
          "position" : [108, 28],
          "caption" : "Accept",
          "callback" : "keyManager.finishKeyEdit"
        },
        "useHeld" : {
          "type" : "button",
          "base" : "/interface/bookmarks/edit/buttonup.png",
          "hover" : "/interface/bookmarks/edit/buttonover.png",
          "position" : [57, 28],
          "caption" : "Use Held",
          "callback" : "keyManager.useHeldName"
        },
        "close" : {
          "type" : "button",
          "base" : "/interface/bookmarks/edit/buttonup.png",
          "hover" : "/interface/bookmarks/edit/buttonover.png",
          "position" : [6, 28],
          "caption" : "Cancel",
          "callback" : "keyManager.closeKeyEditor"
        },
        "title" : {
          "type" : "label",
          "position" : [80, 92],
          "hAnchor" : "mid",
          "vAnchor" : "bottom",
          "centered" : true,
          "fontSize" : 16,
          "value" : "New Key"
        },
        "name" : {
          "type" : "textbox",
          "position" : [11, 70],
          "hint" : "Item Name (Case Sensitive)",
          "enterKey" : "keyManager.jumpToKey",
          "escapeKey" : "keyManager.closeKeyEditor",
          "maxWidth" : 134,
          "callback" : "null"
        },
        "key": {
          "type" : "textbox",
          "position" : [11, 50],
          "hint" : "Encryption Key",
          "enterKey" : "keyManager.finishKeyEdit",
          "escapeKey" : "keyManager.closeKeyEditor",
          "maxWidth" : 134,
          "callback" : "null"
        }
      }
    }
  },
  "scriptWidgetCallbacks": [
    "pane.dismiss",
    "keyManager.back",
    "keyManager.keySelected",
    "keyManager.addKey",
    "keyManager.editKey",
    "keyManager.removeKey",
    "keyManager.finishKeyEdit",
    "keyManager.closeKeyEditor",
    "keyManager.useHeldName",
    "keyManager.jumpToKey",
    "keyManager.updateKeysPath"
  ],
  "scripts": ["/scripts/keyManagerUI.lua"],
  "scriptDelta": 0,
  "openedBy": null
}